<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="myAdvisor" class="com.advisor.MyAdvisor"/>

    <bean id="empService" class="com.service.impl.EmpServiceImpl"/>

    <aop:config>
        <aop:pointcut id="myPointCut" expression="execution(* com.service..*.*(..))"/>

        <aop:advisor advice-ref="myAdvisor"
                     pointcut-ref="myPointCut"/>
    </aop:config>

</beans>